* {
	margin : 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body { width: 100%; height: 100%; }

body { 
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: #121212;
	color: #999; 
	padding: 20px;
}

#page-wrap {
}

/* Nav */
nav {
	z-index: 100;
	position: fixed;
}

/* Arbitrary title */
.title {
	color: #1e1e1e;
	z-index: 99;

	width: 80%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
}

/* full width/height container */
#world-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


/* Each slide of the landscape, double height/width of viewport */
#slides {
	width : 200%;
	height: 200%;
	position: fixed;
	top : 0; 
	left: 0;
	display: inline-block;
	border: 1px solid white;
}

.slide {
	position: absolute;
	top : 0;
	left: 0;
	width : 50%;
	height: 50%;
}

.slide-1 {
	background: #f1f1f1;
	background-size: cover;
}

.slide-2 {
	background: #ef33f1;
	background-size: cover;

	transform: translate(100%, 0);
}

.slide-3 {
	background: #0fe433;

	transform: translate(200%, 0);
}

.slide-4 {
	background: #145df9;

	transform: translate(300%, 0);
}

/* Interior Elements */
.caption {
	position: absolute;
	bottom: 5%;
	right: 5%;
	text-align: right;
	color: #fff;
}
p, h1 { margin: 0; }
h1 { margin-bottom: 0.2em; }
p { line-height: 1.333em; }

/* Helper */
#timeline {
	position:absolute;
	right:0;
	top: 0;
	height: calc(400% + 100%);
	width : 4px;
}
.marker {
	height: 25%;
	width: 100%;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;
}
.yellow {
	background-color: yellow;
}

/* Tiny Aaron */

#tiny-aaron-container {	
	background-position: 0px, 0px;

	position: fixed;
	bottom: 5%;	
	z-index: 99;
}

/* Tiny Aaron - animations */

.tiny-aaron-idle {
	background: url('./images/walk.png') left center;
	background-position: -1260px !important; /* temporary */
	height: 100px;
	width: 70px;

}

@keyframes idle {
	100% { background-position: -1260px; }
}

.tiny-aaron-walk {
	background: url('./images/walk.png') left center;
	height: 100px;
	width : 70px;	

	-webkit-animation: walk .8s steps(24) infinite;	
}

@keyframes walk {
	100% { background-position: -1680px; }
}

.tiny-aaron-despondent {
	background: url('./images/despondent.png') left center;	
	height: 75px;
	width: 75px;

	-webkit-animation: despondent 2.2s steps(48) infinite;	
}

@keyframes despondent {
	100% { background-position: -3600px; }
}

.tiny-aaron-despondent-looks-at-screen {
	background: url('./images/despondent-looks-at-screen.png') left center;	
	height: 75px;
	width: 75px;

	-webkit-animation: despondent-looks-at-screen .8s steps(12) 1;	
}

@keyframes despondent-looks-at-screen {
	100% { background-position: -900px; }
}

.tiny-aaron-despondent-looks-at-screen-freeze {
	background: url('./images/despondent-looks-at-screen.png') left center;	
	height: 75px;
	width: 75px;	

  background-position: 75px !important;
}

.tiny-aaron-typing-fast {
	background: url('./images/typing-fast.png') left center;	
	height: 75px;
	width: 75px;	

	-webkit-animation: typing-fast 0.8s steps(24) infinite;	
}

@keyframes typing-fast {
	100% { background-position: -1800px; }
}